@page "/"
@inject NavigationManager navManager
<PageTitle>AW Ploiesti</PageTitle>

<div class="full-background ">
    <img src="/Images/romaniaflag.png" alt="Romanian Flag" class="flag-image">
    <h1 class="heading" >Concurs Skandenberg Ploiesti</h1>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.ExtraLarge" @onclick = "CreateTournament">Creeaza turneu nou</Button>
    <Button Color="ButtonColor.Danger" Size="ButtonSize.ExtraLarge" style="margin-top:30px">Vezi turnee</Button>
</div>

@code {
    protected async Task CreateTournament()
    {
        this.navManager.NavigateTo("/ConfigureTournament");
    }
}