@inherits LayoutComponentBase

<div class="main-layout">
    @Body
</div>

<style>
    body {
        background-image: url('/images/ArmwrestlingBackground.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;

    }
</style>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
